<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

  <script type="text/javascript">
       $(document).on("ready page:load", function () {
          blocmetrics.report("The About Page");
        })
  </script>
