<% if current_user.admin? || current_user.premium? %>
  <div class="form-group">
    <%= f.label :private, class: 'checkbox' do %>
      <%= f.check_box :private %> Private wiki
    <% end %>
  </div>
<% end %>
<div class="form-group">
  <p>Collaborators</p>
  <% collaborator_user_ids = @wiki.collaborator_user_ids %>
  <% User.all.each do |user| %>
    <div class="user">
      <%= check_box_tag "wiki[collaborator_user_ids][]", user.id, collaborator_user_ids.include?(user.id) %>
      <%= user.name %>
    </div>
  <% end %>
</div>
