<h1>Hey there. This is the Wiki List</h1>
<%if current_user.admin? || current_user.premium?%>
<% @wikis.each do |wiki| %>
<p><%= link_to wiki.title, wiki %>
<% end %>
<% end %>
<%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>


  <script type="text/javascript">
       $(document).on("ready page:load", function () {
          blocmetrics.report("The About Page");
        })
  </script>
